<div class="container">
  <h1 class="text-center">Bienvenue à Bootstrap avec Angular</h1>
  <button class="btn btn-primary">Bouton Bootstrap</button>
</div>
<button type="button" class="btn btn-danger">Danger</button>
<main>
    <app-tab-states-servers/>
  </main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
