<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Votre Application Angular</title>
  <!-- Material Design Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<!-- app.component.html -->
<header>
  <app-navbar></app-navbar>
</header>
<main class="d-flex">
  <aside>
    <app-sidebar></app-sidebar>
  </aside>
  <section id="content-wrapper">
    <main class="container-fluid">
      <app-tab-states-servers></app-tab-states-servers>
    </main>
  </section>
</main>
<footer></footer>
</body>
</html>
